<section id="title" class="container">
    <h1>Pesquisa - Veículos</h1>
</section>
<section id="pesquisa" class="container margin-bottom-15">
    <div id="pesquisaControles">
        <div class="input-group">
            <input type="text" id="txtPesquisa" class="form-control" placeholder="Termo para pesquisa" required/>
            <span class="input-group-addon">
                <input type="radio" aria-label="Modelo" name="opc" value="0" checked> Modelo</input>
                <input type="radio" aria-label="Marca" name="opc" value="1" > Marca </input>
                <input type="radio" aria-label="Ano" name="opc" value="2" > Ano</input>
            </span>
            <button id="pesquisar" class="btn btn-primary form-control" onclick="pesquisar()">Pesquisar</button>
        </div>
    </div>
</section>
<section id="veiculosMostragem" class="container" style="margin-top:25px;">
    <h4><strong>Automóveis</strong></h4>
    <table id="automovel" class="table table-bordered">
        <thead>
            <tr>
                <th class='text-center'>Modelo</th>
                <th class='text-center'>Marca</th>
                <th class='text-center'>Ano</th>
                <th class='text-center'>Detalhes</th>
                <th class='text-center'>Excluir</th>
            </tr>
        </thead>
        <tbody data-bind="value: automovelObserver, foreach: automoveis">
            <tr> 
                <td class="text-center" data-bind="text: modelo"></td>
                <td class="text-center" data-bind="text: marca.nome"></td>
                <td class="text-center" data-bind="text: ano"></td>
                <td class="text-center"><button class="btn btn-info" data-bind="click: function() { detalhes(id) }">Editar</button></td>
                <td class="text-center"><button class="btn btn-danger" data-bind="click: function() { excluir(id) }">Excluir</button></td>
            </tr>

        </tbody>
    </table>
</section>

<script>
    automoveis = [];
    $(document).ready(function () {
        $('#txtPesquisa').keypress(function (e) {
            if (e.keyCode == 13)
                $('#pesquisar').click();
        });
        pesquisaTodos();
        criaModelView();
    });

    function pesquisaTodos() {
        $.ajax({
            url: "api/automovel",
            type: "GET",
            success: function (data) {
                automoveis = data;
                automovelObserver(automoveis);
            },
            error: function (data) {
                alert("Falha ao recuperar os automóveis, tente mais tarde.");
            }
        });
    }

    function pesquisar() {

        var tipo = $('input[name=opc]:checked', '#pesquisaControles').val();

        if ($("#txtPesquisa").val().trim() == "") {
            pesquisaTodos();
            return;
        }

        if (tipo == 2) {
            if (isNaN($("#txtPesquisa").val())) {
                alert("Quando pesquisando por ano, é necessário inserir um número no campo de pesquisa!");
                return;
            }
        }

        $.ajax({
            url: "api/automovel/" + tipo + "/" + $("#txtPesquisa").val().trim(),
            type: "GET",
            success: function (data) {
                automoveis = data;
                automovelObserver(automoveis);
            },
            error: function (data) {
                alert("Falha ao recuperar os automóveis, tente mais tarde.");
            }
        });
    }

    function detalhes(id) {
        window.location = "/visualizar?id=" + id;
    }

    function excluir(id) {
        if (!confirm("Deseja mesmo excluir?"))
            return;

        $(document).ready(function () {
            $.ajax({
                url: "api/automovel/" + id,
                type: "DELETE",
                success: function (data) {
                    excluiAutomovel(id);
                    automovelObserver(automoveis);
                    alert("Excluído com sucesso!");
                },
                error: function (data) {
                    alert("Não foi possível excluir. Tente mais tarde.");
                }
            });
        });
    }

    function criaModelView() {
        function automoveisViewModel() {
            automovelObserver = new ko.observable();
        }
        ko.applyBindings(automoveisViewModel());
    }

    function excluiAutomovel(id) {
        for (var i = 0; i < automoveis.length; i++) {
            if (automoveis[i].id == id)
                automoveis.splice(i, 1);
        }
    }

</script>